.Button {
    border-radius: 15px;
    background: rgb(255, 153, 0);
    color: white; 
    font-weight: 700; 
    width: 100px;
    height: 50px; 
    text-align: center;
    border: none; 
}

.Button:hover {
    background-color: rgb(212, 142, 11);
}